*{
    margin:0px;
    padding:0px;
}
body{
    background-color:bisque;
    display:flex;
    justify-content:center;
   padding-top:20rem;
   overflow:hidden;
}

.taskcontainer{
    display:flex;
    background-color:indianred;
    border: 2px solid black;
    flex-direction:column;
    width:200px;
    border-radius: 0.6rem;
    overflow:hidden;
    padding:5px
}
.listitem{
    display:flex;
    justify-content:space-around;
}
.heading{
    text-align:center;
    padding-bottom:2px;
}
.addmore{
    margin:2px;
    padding-top:2px;
}