*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body{
    background-color:bisque;
    display:flex;
    justify-content:center;
   padding-top:20rem;
   min-height:100vh;
   overflow:hidden;
}

.taskcontainer{
    display:flex;
    background-color:indianred;
    border: 2px solid black;
    flex-direction:column;
    width:200px;
    border-radius: 0.6rem;
    overflow:hidden;
    padding:5px
}
.listitem{
    display:flex;
    justify-content:space-around;
}
.heading{
    text-align:center;
    padding-bottom:2px;
}
.addmore{
    margin:2px;
    padding-top:2px;
}
.columnbox{
    margin-top:10px;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    gap:30px;
}
.navbar{
  display:flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(231, 94, 94);
  color: rgb(38, 36, 36);
  padding: 10px 20px;
  border-radius:3px;
  border:1px solid black;
}

.navtitle{
    font-size:30px;
    font-weight: bold;

}

.outerbox{
    display:flex;
    flex-direction:column;
    gap:20px;
    width:100%;
}
.search{
    font-size:18px;
    width:50%;
}
.deletebutton{
    background:transparent;
}
.task{
    display:flex;
    justify-content:space-between;
}
