
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, rgba(219, 216, 216, 0.971), rgba(251, 199, 68, 0.911));
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  padding-top: 6rem;
  min-height: 100vh;
  overflow-x: hidden;
}

.outerbox {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  max-width: 1200px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
background: linear-gradient(90deg, rgba(0, 0, 4, 1.000) 0.000%, rgba(0, 12, 79, 1.000) 16.667%, rgba(91, 129, 131, 1.000) 33.333%, rgba(232, 205, 126, 1.000) 50.000%, rgba(255, 178, 68, 1.000) 66.667%, rgba(158, 71, 0, 1.000) 83.333%, rgba(0, 0, 0, 1.000) 100.000%);
  color: rgb(218, 217, 217);
  padding: 15px 25px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(48, 44, 44, 0.2);
}

.navtitle {
  font-size: 28px;
  font-weight: bold;
}
.search {
  font-size: 16px;
  padding: 6px 12px;
  width: 40%;
  border: none;
  border-radius: 6px;
  outline: none;
}

.navbutton {
  background: rgb(85, 53, 15);
  color: white;
  font-size: 15px;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}
.navbutton:hover {
  background: rgb(88, 87, 87);
}

.columnbox {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  gap: 25px;
  flex-wrap: wrap;
}

.taskcontainer {
 background-color:rgba(139, 140, 147, 0.482) ;
  border: none;
  flex-direction: column;
  min-width: 300px;
  min-height:300px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  padding: 10px;
  transition: transform 0.2s ease;
}
.taskcontainer:hover {
  transform: scale(1.02);
}

.heading {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  color:rgb(71, 68, 68);
  border-bottom: 2px solid rgb(188, 180, 180);
  padding-bottom: 6px;
}

.task {
  background: rgba(116, 116, 124, 0.405);
  padding: 8px 10px;
  margin: 6px 0;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.2s;
}
.task:hover {
  background: rgba(53, 51, 51, 0.245);
}

.deletebutton {
  background: transparent;
  border: none;
  cursor: pointer;
  color: rgb(136, 7, 7);
  font-size: 16px;
  padding: 0 6px;
  border-radius:50%;
}
@media (max-width: 768px) {
  .columnbox {
    flex-direction: column;
    align-items: center;
  }

  .taskcontainer {
    width: 90%; 
    max-width: 400px;
   min-height:auto;
  }
}

